<launch>
    <arg name="bag_path"    default="$(find krp_localization)/bags" />
    <arg name="bag_name"    default="wholemap" />

    <arg name="bag"    default="true" />
    <arg name="save"    default="true" />

    <group if="$(arg bag)">
      <node name="recorder" pkg="rosbag" type="record" args="-q amcl_pose base_scan rssi odom cmd_vel_keyboard -O $(arg bag_path)/$(arg bag_name).bag" />
    </group>

    <group if="$(arg save)">
      <node name="save_data" pkg="krp_localization" type="record_data">
        <param name="file_name_prefix" value="wholemap"/>
      </node>
    </group>
</launch>
