<launch>
    <!-- wifi parameters -->
    <arg name="flag_simulation" default="false"/>
    <arg name="visualization"         default="true"/>
    <arg name="global_localization" default="true"/>

    <arg name="bag_name"   default="krp1" />

    <group if="$(arg flag_simulation)">
      <include file="$(find krp_localization)/launch/playback.launch">
        <arg name="visualization"  value="false"/>
        <arg name="localization"   value="false" />
        <arg name="bag_name"       value="krp1" />
      </include>

      <include file="$(find youbot_navigation)/launch/separate/amcl.launch"/>
    </group>

    <node name="rssi_localization_server" pkg="krp_localization" type="rssi_localization_server">
        <param name="train_data_prefix"        value="test2" />
        <param name="train_data_fuse"          value="1" />
        <param name="trained_model_path"       value="$(find krp_localization)/models/model_test2.p" />
        <param name="flag_self_localization"   value="false" />
        <param name="flag_negative_db"         value="false" />
        <param name="flag_boost_weight"        value="true" />
        <param name="boost_weight_mode"        value="near_max_scaling" />
        <param name="K"                        value="75" />
        <param name="mode"                     value="prob_mesh_sampling" />
        <param name="max_gaussian_mean_stdX"   value="1" />
        <param name="max_gaussian_mean_stdY"   value="1" />
    </node>

    <node name="krp_localization_rssi" pkg="krp_localization" type="krp_localization_rssi">
        <param name="global_localization"              value="$(arg global_localization)"/>
        <param name="freq"                             value="1"/>
        <param name="mean_reset_stabilize_time"        value="10"/>
        <param name="std_resample_stabilize_time"      value="2"/>
        <param name="flag_rssi_resampling"             value="false" />
        <param name="flag_krp_sampling"                value="false" />
        <param name="nsamples"                         value="200"/>
        <param name="rssi_len"                         value="1"/>
        <param name="rssi_weightstd_krp_thres"         value="0.15"/>
        <param name="rssi_weightmean_krp_thres"        value="0.01"/>
    </node>

    <group if="$(arg global_localization)">
        <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /global_localization"/>
    </group>

    <group if="$(arg visualization)">
      <node name="prob_mesh_visualizer" pkg="krp_localization" type="prob_mesh_visualizer">
          <param name="sub_topic"                value="rssi_prob_mesh_array" />
      </node>

      <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find krp_localization)/rviz/krp_localization_rssi.rviz"/>
    </group>
</launch>
