<launch>

    <arg name="device_name"         default="wlp3s0"  />
    <arg name="probe_size"          default="1"  />
    <arg name="mode"                default="iwlist"  />
    <arg name="freq"                default="1"  />

    <node name="rssi_node" pkg="krp_localization" type="rssi_node">
      <param name="probe_size" value="$(arg probe_size)"/>
      <param name="device_name" value="$(arg device_name)"/>
      <param name="mode" value="$(arg mode)"/>
      <param name="freq" value="$(arg freq)"/>
    </node>

</launch>
