<launch>
    <arg name="visualization"    default="true" />


    <!-- wifi parameters -->
    <arg name="map_path"         default="$(find krp_localization)/maps/"/>
    <arg name="map_name"         default="test"/>

    <!-- <arg name="map_xmin"         default="-25" />
    <arg name="map_xmax"         default="55"  />
    <arg name="map_ymin"         default="-60" />
    <arg name="map_ymax"         default="20"  />
    <arg name="map_spn"          default="50"  /> -->

    <!-- Processing nodes -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)$(arg map_name).yaml" />

    <node name="rssi_localization_server" pkg="krp_localization" type="rssi_localization_server">
        <param name="train_data_prefix"        value="test" />
        <param name="train_data_fuse"          value=5 />
        <param name="flag_self_localization"   value=True />
        <param name="flag_negative_db"         value=True />
        <param name="nsamples"                 value=500 />
    </node>

    <!-- <group if="$(arg visualization)">
        <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find rss)/launch/wlrf.rviz"/>
    </group> -->

</launch>
